---
import MainLayout from "../../layouts/MainLayout.astro";

export async function getStaticPaths() {
  const allProjects = await Astro.glob("../../data/projects/*.md");

  return allProjects.map((project) => {
    return {
      params: { slug: project.frontmatter.slug },
      props: { ...project },
    };
  });
}

const { Content, frontmatter } = Astro.props;
const projectName = frontmatter.project_name;
---

<MainLayout title={projectName}>
  <div class="mt-[100px] mx-auto w-11/12 md:max-w-[1080px] prose">
    <Content />
  </div>
</MainLayout>
