---
import MainLayout from "../layouts/MainLayout.astro";
import AboutMe from "../components/AboutMe.astro";
import AboutThisWebsite from "../components/AboutThisWebsite.astro";
import ThingsIdo from "../components/ThingsIdo.astro";
---

<MainLayout title="About Page" description="Welcome to about page">
  <div class="mt-[100px] mx-auto w-11/12 md:max-w-[1080px] grid gap-6">
    <AboutMe />
    <AboutThisWebsite />
    <ThingsIdo />
  </div>
</MainLayout>
