---
import MainLayout from "../layouts/MainLayout.astro";
import Icons from "../components/Icons.astro";
---

<MainLayout title="Home" description="Welcome to my portfolio!">
  <h1 class="text-red-500">hello world</h1>
</MainLayout>
