---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import SnippetList from "../components/SnippetList.astro";
import ProjectList from "../components/ProjectList.astro";

const allSnippets = await Astro.glob("../data/snippets/*.md");
const allProjects = await Astro.glob("../data/projects/*.md");

const recentSnippets = allSnippets.slice(0, 4);
const recentProjects = allProjects.slice(0, 4);
---

<MainLayout title="Home" description="Welcome to my portfolio!">
  <div class="mt-[100px] mx-auto w-11/12 md:max-w-[750px]">
    <Heading text="Ahmad Ramadhan" />
    <div class="mt-3 md:w-[550px]">
      <p class="text-white/50 font-medium text-sm">A Software Developer</p>
      <p class="mt-3 text-white/70 font-medium">
        I love to write code and sometimes helping people in community when they
        stuck, because i know that feel when you need someone to help and no one
        can help you, or nobody care, i speak indonesia and english, i always
        love to be working on a cool project 😉, feel free to hit me up!
      </p>
    </div>
    <div class="mt-10">
      <div id="snippet">
        <p class="text-2xl">Recent Snippets</p>
        <SnippetList snippets={recentSnippets} />
      </div>
      <div id="projects" class="mt-10">
        <p class="text-2xl">Recent Project</p>
        <ProjectList projects={recentProjects} />
      </div>
    </div>
  </div>
</MainLayout>
