---
import Heading from "./Heading.astro";
---

<div class="mt-6">
  <Heading text="About This Website" />
  <div class="mt-3 text-black/70 dark:text-white/70 grid gap-3 font-medium">
    <p>
      This is my personal website where i put some of my snippets and showcase
      some of my projects.
    </p>
    <p>
      I use
      <a
        href="https://astro.build/"
        target="_blank"
        class="hover:underline text-cyan-500">Astro</a
      > with
      <a
        href="https://tailwindcss.com/"
        target="_blank"
        class="hover:underline text-cyan-500"
        >Tailwindcss
      </a>
      to build this website. it is deployed at
      <a href="vercel.com" class="hover:underline text-cyan-500">Vercel</a>
    </p>
  </div>
</div>
