---
import Heading from "./Heading.astro";
---

<div>
  <Heading text="About Me" />
  <div class="mt-3 text-white/70 grid gap-3 font-medium">
    <p>
      Hi! i'm Ahmad Ramadhan. I like to building software and helping people,
      I've been programming since 2019, mainly about web development.
    </p>
    <p>
      I was born and raised in indonesia up until now, though i'd love to be
      able to live abroad. I've been always interesed in technology ever since i
      could remember. I tried to learn programming in 2018 but it didn't work
      out very well because I did'nt understand and then i gave up, it's sad but
      i tried to learn programming again in 2019 and until now.
    </p>
  </div>
</div>
