---
import Heading from "./Heading.astro";
---

<div id="things_i_do" class="mt-6">
  <Heading text="Things I Do" />
  <div class="mt-3 text-black/70 dark:text-white/70 font-medium grid gap-3">
    <p>
      I mainly code for web-related things such as frontend using Vue / Nuxt,
      React / Next, Svelte and likes to explore whatever new javascript shiny
      things out there. I also occasionally do backend stuff using
      NodeJS/deno/bun. I'm currently exploring C#/.NET and flutter to expand my
      knowledge.
    </p>
  </div>
</div>
