---
import MainHead from "./MainHead.astro";
import Header from "../components/Header.astro";

const { title, description, head } = Astro.props;
---

<html lang="en" class="dark">
  <head>
    {head}
    <MainHead title={title} description={description} />
  </head>
  <body class="bg-white text-black dark:bg-[#000] dark:text-white">
    <Header />
    <main tabindex="-1">
      <slot />
    </main>
    <style>
      body {
        font-family: "Space Grotesk", sans-serif;
      }
    </style>
  </body>
</html>
