---
import MainLayout from "../../layouts/MainLayout.astro";
import { stackImage } from "../../helpers/helpers";
export async function getStaticPaths() {
  const allSnippets = await Astro.glob("../../data/snippets/*.md");

  return allSnippets.map((snippet) => {
    return {
      params: { slug: snippet.frontmatter.slug },
      props: { ...snippet },
    };
  });
}

const { Content, frontmatter } = Astro.props;
const snippet_name = frontmatter.snippet_name;
---

<MainLayout title={snippet_name}>
  <div
    class="mt-10 md:mt-[100px] mx-auto w-11/12 md:max-w-[750px] prose dark:prose-invert prose-a:text-cyan-500 pb-20"
  >
    <div class="border-none">
      <div class="flex items-center justify-between">
        <div class="leading-3">
          <h1 class="text-lg md:text-2xl">{frontmatter.snippet_name}</h1>
          <p
            class="text-black/70 dark:text-white/70 w-11/12 sm:w-full leading-7 sm:leading-3"
          >
            {frontmatter.description}
          </p>
        </div>

        <img
          src={stackImage[frontmatter.tech_stack]}
          class="h-14 rounded-full"
        />
      </div>
      <Content />
    </div>
  </div>
</MainLayout>
